<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Active Login form Responsive Widget Template :: W3layouts</title>
	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- //Meta tags -->
	<link rel="stylesheet" href="css/style1.css" type="text/css" media="all" /><!-- Style-CSS -->
	<link href="css/font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->
</head>

<body>
	<section class="w3l-form-36">
		<div class="form-36-mian section-gap">
			<div class="wrapper">
				<div class="form-inner-cont">
					<h3>Register now</h3>
					<form action="#" method="post" class="signin-form">
						<div class="form-input">
							<span class='fa fa-user' aria-hidden="true"></span> <input type="username" name="username"
								placeholder="Username" required />
						</div>
						<div class="form-input">
							<span class='fa fa-envelope' aria-hidden="true"></span> <input type="email" name="email"
								placeholder="Email" required />
						</div>
						<div class="form-input">
							<span class="fa fa-key" aria-hidden="true"></span> <input type="password" name="password" placeholder="Password"
								required />
						</div>
						<div class="login-remember d-grid">
							<label class="check-remaind">
								<input type="checkbox">
								<span class="checkmark"></span>
								<p class="remember">Remember me</p>
							</label>
							<button class="btn theme-button">Register</button>
						</div>
						<div class="new-signup">
							<a href="#reload" class="signuplink">Forgot password?</a>
						</div>
					</form>
					<div class="social-icons">
						<p class="continue"></p>
						<div class="social-login">
							
							
						</div>
					</div>
					<p class="signup">Don’t have an account? <a href="/register" class="register">Sign up</a></p>
				</div>

				<!-- copyright -->
				<div class="footer">
                    <p>&copy; 2023 Your Portfolio. All rights reserved.</p>
                  </div>
				<!-- //copyright -->
			</div>
		</div>
	</section>
</body>

</html>